@charset "UTF-8";
/* --------------------------
  サイト内共通項目
----------------------------*/

.Button {
  width: 220px;
  height: 45px;
  border-radius: 40px;
  border: none;
  background-color: steelblue;
}

.Button p {
  display: inline-block;
  color: white;
}

.Button__theme {
  padding-left: 30px;
}

.Button__direction {
  float: right;
  padding-right: 24px;
}

.button_box {
  text-align: center;
  padding-bottom: 56px;
}

.theme__color {
  color: aqua;
}

.font__color {
  color: #B0C4DE;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* --------------------------
menu  担当：石沢
----------------------------*/

.menu_wrapper {
  width: 100%;
  background-color: white;
}

.menu_box {
  width: 360px;
  height: 660px;
  border-radius: 320px 0 0 320px;
  background-color: #778899;
  float: right;
}

.menu_title {
  color: white;
  position: relative;
  top: 100px;
  right: -235px;
}

.menu_logo {
  position: relative;
  top: 250px;
  right: 0px;
}

.menu_nav {
  position: relative;
  top: 35px;
  right: -160px;
  width: 100px;
  margin: 48px;
}

.menu_nav li {
  border-bottom:solid 1px white;
  padding: 10px 10px;
}

.menu_nav a{
  color: white;
  display: inline-block;
  text-decoration-line: none;
  /* border-bottom:solid 1px white; */
}

.menu_nav p {
  display: inline-block;
  float: right;
  color: white;
  /* border-bottom:solid 1px white; */
}

.menu_fontawesome_box {
  position: relative;
  right: -45px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 32px;
}

.menu_fontawesome_listItem {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius:100%;
}

@media screen and ( min-width : 960px ){  
  .menu_box {
    width: 500px;
    height: 900px;
    border-radius: 500px 0 0 500px;
    background-color: #778899;
    float: right;
  }

  .menu_title {
    top: 110px;
    right: -285px;
    font-size: xxx-large;
  }

  .menu_nav {
    top: 70px;
    right: -255px;
    width: 130px;
    margin: 40px;
  }

  .menu_logo {
    top: 290px;
    right: 0px;
  }

  .menu_fontawesome_box {
    right: -45px;
    padding-top: 130px;
  }

  .menu_fontawesome_box {
    right: -45px;
    padding-top: 100px;
  }
}

/* --------------------------
header_shadow  担当：石沢
----------------------------*/

.header_shadow {
  width: 100%;
}

.top_main_logo {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 24px;
}

.top_main_menuBtn {
  background-color: white;
  border: none;
  display: block;
  float: right;
  position: relative;
  cursor: pointer;
  padding-top: 5px;
}

.top_main_menuBtn_img {
  width: 50%;
}

.hamburger {
  position: absolute;
  top: 19px;
  right: 84px;
  cursor: pointer;
}

.hamburger__line {
  position: absolute;
  left: 9px;
  width: 23px;
  height: 1px;
  background-color: white;
  transition: all .6s;
}

.hamburger__exit__line {
  position: absolute;
  left: 9px;
  width: 40px;
  height: 1px;
  background-color: white;
  transition: all .6s;
}

.hamburger__line--1 {
  top: -1px;
}

.hamburger__line--2 {
  top: 11px;
}

.hamburger__line--3 {
  top: 24px;
}

.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}

.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}

.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 10px;
}

.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}

.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 10px;
}

.menu_exit {
  position: absolute;
  top: 20px;
  right: 70px;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

@media screen and ( min-width : 960px ){
  .black-bg {
    background-color: white;   
  }
}

/* --------------------------
top_main_about  担当：石沢
----------------------------*/
.top_main_about {
  width: 100%;
}

.top_main {
  width: 100%;
}

.top_main h2 {
  display: none;
}

.box {
  width: 100%;
  height: 548px;
}

.cls-1 {
  fill:#5cebff;
}

.top_main_image {
  width: 100%;
}

.about {
  padding: 40px 32px 0 32px;
  text-align: center;
}

.about__theme {
  display: block;
  /* color: cyan; */
  font-size: 20px;
}

.about__theme::before {
  content:"----------";
  text-decoration: line-through ;
  margin-right: 1em ;
  color: darkgray;
}

.about__theme::after {
  content:"----------";
  text-decoration: line-through ;
  margin-left: 1em;
  color: darkgray;
}

.about_logo_box {
  width: 30%;
  text-align: center;
  padding-top: 80px;
  margin: 0 auto;
}
.about_logo_box p {
  margin-top: 24px;
  font-size: 10px;
}

.about_text_box {
  padding: 40px 0 56px 0;
  text-align: justify;
}

@media screen and ( min-width : 960px ){
  .top_main_about {
    display: flex;
  }

  .top_main {
    margin-left: 96px;
  }

  .top_main h2 {
    display: block;
    writing-mode: vertical-rl;
    position: absolute;
    top: 190px;
    left: 690px;
    letter-spacing: 15px;
  }

  .top_main h2:last-child {
    writing-mode: vertical-rl;
    position: absolute;
    top: 250px;
    left: 650px;
    letter-spacing: 15px;
  }

  .about {
    margin: 96px 96px 0 96px;
    padding: 0;
  }

  .about__theme {
    display: none;
    font-size: 30px;
  }

  .about_logo_box {
    width: 35%;
    text-align: center;
    margin: 0 auto;
  }

  .about_logo_box p {
    margin-top: 0;
  }

  .about_text_box {
    width: 350px;
    padding: 80px 0 80px 0;
    margin: 0 auto;
  }
}

/* --------------------------
profile  担当：石沢
----------------------------*/
.top_profile {
  padding: 80px 32px;
}

.profile__parsonal__wrapper {
  display: flex;
  padding-bottom: 56px;
  justify-content: center;
  align-items: center;
}

.profile__content__box {
  padding-left: 40px;
  text-align: center;
}

.profile__logo__box {
  padding-bottom: 40px;
}

.profile__content__box p{
  scroll-padding-bottom: 40px;
  font-size: 2px;
}

.profile__img__box {
  height: 548px;
}

.profile__svg__box {
  width: 175px;
  height: 551px;
}

.profile__img {
  width: 547px;
  height: 550px;
}

.profile__career__wrapper .career__text {
  display: none;
}

@media screen and ( min-width : 960px ){
  .top_profile {
    display: flex;
    padding: 56px;
  }

  .profile__logo__box p {
    padding-top: 16px;
  }

  .profile__content__box {
    padding-left: 56px;
  }

  .profile__logo__box {
    padding-bottom: 56px;
  }

  .profile__career__wrapper {
    padding-left: 112px;
  }

  .profile__career__wrapper .career__text {
    display: block;
  }

  .profile__img__box {
    height: 240px;
    width: 240px;
  }

  .profile__svg__box {
    width: 100%;
    height: 240px;
  }

  .profile__img {
    width: 480px;
    height: auto;
  }

  .profile__career__wrapper .button_box {
    padding-bottom: 0;
    padding-top: 56px;
  }

  .profile__content__box {
    width: 100px;
  }
}

/* --------------------------
service  担当：石沢
----------------------------*/

.service {
  text-align: center;
  padding: 40px 32px 0 32px;
}

.service__container__standInArow {
  padding-top: 80px;
}

.service__card {
  padding-bottom: 80px;
}

.service__img__box {
  width: 160px;
  height: 160px;
  padding: 40px 0;
  margin: 0 auto;
}

.service__theme {
  font-size: 20px;
}

.service__theme::before {
  content:"---------";
  text-decoration: line-through ;
  margin-right: 1em ;
  color: darkgray;
}

.service__theme::after {
  content:"---------";
  text-decoration: line-through ;
  margin-left: 1em ;
  color: darkgray;
}


@media screen and ( min-width : 960px ){
  .service__container__standInArow {
    display: flex;
    padding-top: 120px;
  }

  .service__card {
    padding-bottom: 0;
    margin-right: 96px;
  }

  .service__card:nth-child(3) {
    margin-right: 0;
  }

  .service__img__box {
    padding: 56px 0;
  }

  .service__content {
    text-align: left;
  }
}